body {
  background: #EAF1F7;
}

.material-icons.md-30 {
  font-size: 30px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: #242939;
  color: #989EB3;
}

.brand {
  background-color: #242939;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 25px;
  height: 72px;
}

.flex-row-fluid {
  -webkit-box-flex: 1;
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  min-width: 0;
}

.flex-column-fluid {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.wrapper {}

.header {
  background: #fff;
  height: 72px;
  margin-bottom: 25px;
}

.content {
  padding: 25px 0;
}

.container {
  width: 100%;
  padding: 0 25px;
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  color: #181C32;
}

.menu-icon {
  flex: 0 0 35px;
  color: #3699FF;
}

.nav-item .nav-link {
  color: #989EB3;
  padding: .5rem 25px;
}

.card-custom {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
}

.gutter-b {
  margin-bottom: 25px;
}