*, ::after, ::before {
  box-sizing: border-box;
}

body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background: #EAF1F7;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

.material-icons.md-30 {font-size: 30px;}

.flex-root {
  -webkit-box-flex: 1;
  flex: 1;
}

.flex-row-auto {
  flex: 0 0 auto;
}

.flex-row-fluid {
  -webkit-box-flex: 1;
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  min-width: 0;
}

.flex-column-fluid {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

/* ############ SIDEBAR ############*/
.aside-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
}

.aside {
  width: 265px;
  background-color: #242939;
  color: #989EB3;
}

.brand {
  background-color: #242939;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 25px;
  height: 72px;
}

.menu-icon {
  flex: 0 0 35px;
  color: #3699FF;
}

.nav-item .nav-link {
  color: #989EB3;
  padding: .5rem 25px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #ffffff;
  background-color: #1F2433;
}

/* ############ CONTENT ############*/
.wrapper {
  padding-left: 265px;
  padding-top: 72px;
}

.header {
  background: #fff;
  height: 72px;
  margin-bottom: 25px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  left: 265px;
  box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
}

/* ############ HEADER ############*/
.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 97;
}

.header a {color: #181c32;}
.content {
  padding: 25px 0;
}

.container {
  width: 100%;
  padding: 25px 25px;
  margin-right: auto;
  margin-left: auto;
  color: #181C32;
}



/* ############ CARD ############*/
.card-custom {
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
  border: 0;
}

.card.card-custom > .card-header {
  border-bottom: 1px solid #EBEDF3;
}

.card-header,
.card-body {
  padding: 2rem 2.25rem;
}

.card.card-custom > .card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.card-title,
.card-label {
  font-weight: 500;
  font-size: 1.275rem;
  color: #181C32;
  display: flex;
  align-items: center;
  margin: .5rem .5rem .5rem 0;
}

.card-label {
  margin: 0 0.75rem 0 0;
  flex-wrap: wrap;
}

.card-title small {
  color: #B5B5C3;
  font-size: 1rem;
}

.gutter-b {margin-bottom: 25px;}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}